* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --bg-primary: rgb(18, 18, 42);
  --bg-secondary: rgb(32, 33, 49);
  --white: rgb(255, 255, 255);
  /* --yellow: rgb(244, 185, 66); */
  --yellow: #4aadac;
  --light-gray: rgb(69, 70, 83);

  /* font family */
  --ff-primary: "Raleway", Open Sans;
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--white);
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.bg-dark,
.navbar-dark {
  background-color: var(--bg-primary) !important;
}
nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.btn-warning {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  color: var(--white);
}
.btn-warning:hover {
  /* background-color: var(--white) !important; */
  background-color: #80d7bb !important;
}
.text-warning {
  color: var(--yellow) !important;
}
main {
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Specific Styles */

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ak styling  */
.navbar-brand {
  border: 2px solid var(--white);
  border-radius: 100vmax;
  padding: 4px 8px;
}
.navbar-brand:hover {
  border-color: var(--yellow);
}
header nav .nav-link {
  color: var(--white) !important;
  text-transform: uppercase;
}
header nav .nav-link:hover {
  /* border-bottom: 2px solid var(--yellow) !important; */
  color: var(--yellow) !important;
}

/* ======================
      about
======================  */
section#about p {
  font-size: 18px;
  margin: 0;
}
#typing-text {
  overflow: hidden; /* Hide overflowing text */
  color: var(--yellow);
  white-space: nowrap; /* Prevent line breaks */
  margin: 0; /* Remove default margin */
}

/* ======================
      skills 
======================  */
.skills-item :hover {
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

/* ======================
      projects 
======================  */
.card {
  background-color: var(--bg-secondary);
  /* color: var(--white); */
}
.skills-item {
  border: 2px solid var(--yellow);
}
.see-more {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}
.see-more:hover {
  text-decoration: none;
  color: var(--yellow) !important;
  border-bottom: 2px solid var(--yellow) !important;
}
#contact .boxes {
  background-color: var(--bg-secondary);
  border-radius: 15px;
}
#contact .far,
#contact .fab {
  color: var(--yellow);
  cursor: pointer;
}
#contact .fab:hover {
  color: var(--white);
}
#contact .far:hover {
  color: var(--white);
}

/* footer  */
footer {
  background-color: var(--bg-secondary);
}
footer .fab {
  font-size: 1.5rem !important;
  color: var(--light-gray);
}
footer .fab:hover {
  color: var(--white);
}

/* for medium devices  */
@media (max-width: 768px) {
  header .pl-5 {
    padding-left: 1rem !important;
  }
  .navbar-nav {
    align-items: center;
    gap: 0.5rem;
  }
  .skills-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .skills-item .fa-solid {
    margin-bottom: 1.5rem;
  }
  .skill-description {
    margin: 0 !important;
  }
}
/* for small devices */
@media (max-width: 576px) {
  header .pl-5 {
    padding-left: 1rem !important;
  }
  .navbar-nav {
    align-items: center;
    gap: 0.5rem;
  }
  .skills-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .skills-item .fa-solid {
    margin-bottom: 1.5rem;
  }
  .skill-description {
    margin: 0 !important;
  }
}
